<h1>IRPF calculation with a Reactive form</h1>
 
<form class="container" [formGroup]="form">
  <div class="form-group">
    <h2>Annual income</h2>
    <label for="annual-income">Annual income:</label>
    <input type="number" id="annual-income" formControlName="annualIncome" class="form-control" placeholder="Annual income">
  </div>

  <div class="form-group">
    <h2>Personal pension plan</h2>
    <label for="personal-plan">Personal pension plan:</label>
    <input type="number" id="personal-plan" formControlName="personalPlan" class="form-control" placeholder="Euros">
    <span *ngIf="this.form.get('personalPlan')?.errors?.['max']" style="color: red">
      The number cannot be greater than 1500
    </span>
  </div>

  <div class="form-group">
    <h2>Company pension plan</h2>
    <label for="company-plan">Company pension plan:</label>
    <input type="number" id="company-plan" formControlName="businessPlan" class="form-control" placeholder="Euros">
    <span *ngIf="this.form.get('businessPlan')?.errors?.['max']" style="color: red">
      The number cannot be greater than 8500
    </span>
  </div>

  <br>
  <button type="button" class="btn btn-primary" (click)="IrpfSpain()">IRPF of Spain</button>
  <button type="button" class="btn btn-secondary" (click)="IrpfAndorra()">IRPF of Andorra</button>
  <br>
  <p>You can deduct: {{ result }}</p>
</form>
